{% extends "index.html" %}

{% block content %}
<div class="main-reports">  
    <div class="report-container">
        <div class="report-header">
            <h2 class="report-title">Productos</h2>
        </div>
        <!-- 🔍 Buscador -->
        <div class="buscador-container">
            <form method="POST" action="{{ url_for('product_bp.listar_productos') }}" style="display: flex; gap: 10px;">
                <input type="text" name="query" placeholder="Buscar producto..." value="{{ request.form.get('query', '') }}">
                <button type="submit">Buscar</button>
                <a href="{{ url_for('product_bp.listar_productos') }}" class="reset-btn">Reset</a>
                <button type="button" class="agregar-btn" data-bs-toggle="modal" data-bs-target="#modalAgregarProducto">Agregar producto</button>
            </form>
        </div>


        <div class="report-body">
            <div class="report-topic-heading">
                <h3 class="t-op">Código</h3>
                <h3 class="t-op">Nombre de Producto</h3>
                <h3 class="t-op">Categoría</h3>
                <h3 class="t-op">Subcategoría</h3>
                <h3 class="t-op">Precio</h3>
                <h3 class="t-op">Stock</h3>
                <h3 class="t-op">Editar</h3>
                <h3 class="t-op">Eliminar</h3>
            </div>

            <div class="items">
                {% for p in productos %}
                <div class="item">
                    <h3 class="t-op-nextlvl">{{ p.id }}</h3>
                    <h3 class="t-op-nextlvl">{{ p.nombre_producto }}</h3>
                    <h3 class="t-op-nextlvl">{{ p.id_categoria }}</h3>
                    <h3 class="t-op-nextlvl">{{ p.id_subcategoria }}</h3>
                    <h3 class="t-op-nextlvl">S/.{{ p.precio }}</h3>
                    <h3 class="t-op-nextlvl">
                        {% if p.stock is none %}
                            0 und.
                        {% else %}
                            {{ p.stock }} und.
                        {% endif %}
                    </h3>
                    <h3 class="t-op-nextlvl">
                        <div class="form-group">
                        <button type="submit" class="btn-submit input-pedidos">
                            Editar
                        </button>
                    </div>
                    </h3>
                    <h3 class="t-op-nextlvl">
                        <div class="form-group">
                        <button type="submit" class="btn-submit input-pedidos">
                            Eliminar
                        </button>
                    </div>
                    </h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
